/* =============
    Secttion 3
============= */

#section-3 {

    #section-3-container {
        display: grid;
        grid-template-columns: 10px auto 10px;
        grid-template-areas: ". section-3 .";

        #section-3-content {
            color: $pink;
            grid-area: section-3;

            margin-top: 40px;
            margin-bottom: 40px;
        }

        @include md {
            display: grid;
            grid-template-columns: auto 60% auto;
            grid-template-areas: ". section-3 .";
        }

        @include lg {
            grid-template-columns: auto 50% auto;
        }

        @include xl {
            grid-template-columns: auto 800px auto;
        }

    }

    background-image: url('../img/section-3/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    height: 512px;

    @include md {
        height: 516px;
    }

    @include lg {
        height: 683px;
    }

    @include xl {
        height: 700px;
    }
}