/* =============
    Section 5
============= */

#section-5{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";

    @include xl{
        grid-template-areas: ". section-5 .";
        grid-template-columns: auto 1200px auto;
    }

    ul{
        display: grid;
        gap: 20px;
        grid-area: section-5;
        grid-template-rows: repeat(3, 296px);
        grid-template-areas: 
        "g1"
        "g2"
        "g3";

        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(3, 340px);
            grid-template-areas:
            "g1 g1"
            "g1 g1"
            "g2 g3";
        }

        @include lg{
            grid-template-columns: 60% auto;
            grid-template-rows: repeat(2, 340px);
            grid-template-areas:
            "g1 g2"
            "g1 g3";
        }


        li{
           background-size: cover;
           background-position: center;
        }


        #g1{
            grid-area: g1;
            background-image: url("../img/section-4/gallery-1.jpg");
        }

        #g2{
            grid-area: g2;
            background-image: url("../img/section-4/gallery-2.jpg");
        }

        #g3{
            grid-area: g3;
            background-image: url("../img/section-4/gallery-3.jpg");
        }
    }

}