/* =============
    Section 4
============= */

#section-4{
    display: grid;
    grid-template-columns: 0 auto 0;
    grid-template-areas: ". section-4 .";

    ul{
        grid-area: section-4;
        display: grid;
        gap: 24px;

        li{
            img{
                width: 100%;
            }
        }
    }
}