/* =============
    Secttion 4
============= */

#section-4 {
     display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-4 .";
    text-align: center;
     color: $pink;

     h1{
        font-size: rem-calc(27);
    }

    #section-4-content {
        grid-area: section-4
    }

    @include md {
         grid-template-columns: auto 60% auto;
     }

    @include lg {
        grid-template-columns: auto 50% auto;
    }

    @include xl {
            grid-template-columns: auto 800px auto;
    }

    hr{
        border-color: $dark;
        border-style: solid;
        border-width: 1px;
    }
}