/* =============
    Footer
============= */

#footer{
    background-color: #FCD8C0;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". footer .";

    aside{
        color: $white;
        grid-area: footer;
       text-align: right;
    }

    article{
        grid-area: footer;
        @include md{
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    }
}
